rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /bookmarks/{bookmarkId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      match /recentArticles/{articleId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /paymentMethods/{methodId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /transactions/{transactionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /readLater/{articleId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
